body {
    height: 100%;
    width: 100%;
}
main {
    min-height: calc(100vh - 40px);
}
nav {
    font-family: 'Aldrich', sans-serif;
}
.footer {
    height: 50px;
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
    background: #888;
}
.btn-line {
    width: 28px;
    height: 3px;
    margin: 5px 0 5px 0;
    background: #fff;
    @include easeOut;
}
.close {
    transform: rotate(180deg);
    
    .btn-line {
        // Line 1 - Rotate
        &:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }
        //Line 2 - Hide
        &:nth-child(2) {
            opacity: 0;
        }
        //Line 3 - Rotate
        &:nth-child(3) {
            transform: rotate(-45deg) translate(7px, -6px);
        }
    }
}